@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";

body
{
  background-color: white;
    overflow-x: hidden;
}

.container{
  width: 90%;
}

::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(0,0,0,0.5); 

}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: darkgrey; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3d7ab8; 
}
h1
{
  margin-top: 0px;
  font-size: 45px;
  font-weight: bold;
  letter-spacing: 2px;
}
.bg-image {
  filter: blur(8px);
  -webkit-filter: blur(8px);
  width: 100%;
  height: 375px; 
}
.bg-text {
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0, 0.4); 
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 45%;
  padding: 25px 0px 25px 0px;
  text-align: center;
  box-shadow: 20px 20px 50px black;
}
.dropbtn {
  background-color: #3d7ab8;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #699CB3 !important;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(255,255,255,0.6);
  z-index: 1;
  font-weight: normal !important;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.navbar {
    margin-bottom: 0;
    background-color: #3d7ab8;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
  }
  .navbar li a, .navbar .navbar-brand {
    color: #fff !important;
    font-size: 17px;
    font-weight: bolder;
    transition: 0.4s;
  }
  .navbar-nav li a:hover, .navbar-nav li.active a {
    color: #3d7ab8 !important;
    background-color: #fff !important;
  }
  .navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
  }

.column {
  float: left;
  width: 50%;
}
.demo3{
  float: left;
  padding-right: 25px;
  padding-left: 20px; 
  width: 50%;
}
.demo4{
  float: left;
  padding-left: 75px;
  width: 50%;
}
.demo1{
color: blue;
font-size: 35px;
font-weight: bold;
}
.demo2{
  font-size: 25px;
  color: black

}
p.card-text{
  font-size: 22px;
  color: black;
  padding-top: 7px;
}
.temp
{
    font-size: 22px;
    color: black;
    padding-right: 10px;
}
.button {
  padding: 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 8px;
  background-color: white; 
  color: black; 
  font-size: 22px;
  border: 2px solid blue;
  margin-top: 10px;
}

.button:hover {
  background-color: blue;
  color: white;
}
::placeholder{
opacity: 1;
font-size: 17px;
}

input[type=text], textarea {
  width: 100%;
  padding: 12px;
  border: 2px solid grey;
  margin-top: 6px;
  margin-bottom: 20px;
  resize: vertical;
  transition: 0.3s;
  border-radius: 7px;
  color: black;
  box-shadow: 0 4px 12px 0 rgba(0,0,0,0.3);
}
input[type=number] {
  width: 100%;
  padding: 12px;
  border: 2px solid grey;
  margin-top: 6px;
  margin-bottom: 20px;
  resize: vertical;
  transition: 0.3s;
  border-radius: 7px;
  color: black;
  box-shadow: 0 4px 12px 0 rgba(0,0,0,0.3);
}
input[type=email]{
  width: 100%;
  padding: 12px;
  border: 2px solid grey;
  margin-top: 6px;
  margin-bottom: 20px;
  resize: vertical;
  transition: 0.3s;
  border-radius: 7px;
  color:black;
  box-shadow: 0 4px 12px 0 rgba(0,0,0,0.3);
}

input[type=submit] {
  background-color: #3d7ab8;
  border: none;
  color: white;
  padding: 12px 16px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 20px;
  transition: 0.3s;
  width: 20%;
  font-weight: bold;
  letter-spacing: 2px;
}

input[type=submit]:hover {
  background-color: white;
  color: #3d7ab8;
  border: 2px solid #3d7ab8;
}

/* Style the container/contact section */
.temp3 {
  border-radius: 12px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
  transition: 0.3s;
  background-color: rgba(240,248,255,1);
  width: 85%;
  padding: 50px 75px 50px 75px;
  height: auto;
}
.temp3:hover{
box-shadow: 0 12px 20px 0 rgba(0,0,0,0.4);
}

.myclass
{
  width: 200%;
  }
.myclass3{
  float: left;
  width: 50%;
  padding: 0px 10px 0px 0px;
}
.myclass4{
  float: left;
  width: 50%;
  padding: 0px 0px 0px 10px;
}
p.myclass1{
  font-size: 25px;
  margin-top: -20px;
  margin-bottom: 10px;
}

.footer{
  background: rgba(0,0,0,0.7);
  height: 400px;
  position: relative;
}
.footer .footer-content{
  height: 350px;
  display: flex;
}
.footer .footer-content .footer-section{
  flex: 1;
  padding: 20px 60px 30px 100px;
}
.footer .footer-content .about{
  margin-top: 25px;
  line-height: 1.7;
}
.footer .footer-content h1
{
color: white !important;
letter-spacing: 1px !important;
font-size: 30px;
font-weight: normal;
}
.footer .footer-content h2{
color: white !important;
letter-spacing: 1px !important;
font-size: 30px;
font-weight: normal;
}
.footer .footer-content .about h1 span{
  color: #05f7ff;
}
.footer .footer-content .about p{
  color: white;
  letter-spacing: 1px;
  text-align: justify;
}
.footer .footer-content .about .contact span{
  display: block;
  font-size: 1.2em !important;
  margin-bottom: 7px;
  color: white;
  font-family: 'Super Sans Pro';
  letter-spacing: 1px;
}
.footer .footer-content .about .socials i{
  font-size: 25px !important;
}
.footer .footer-content .about .socials a{
  border: 1.5px solid gray;
  width: 45px;
  height: 41px;
  padding: 5px 5px 0px 5px;
  margin-left: 4px;
  margin-top: 5px;
  margin-right: 7px;
  text-align: center;
  display: inline-block;
  font-size: 1.3em;
  border-radius: 5px;
  transition: 0.3s;
  text-decoration: none;
}
.footer .footer-content .about .socials a:hover{
  border: 1px solid white;
  color: white;
  transition: 0.3s;
}
.footer .footer-content .links ul a{
  display: block;
  margin-bottom: 10px;
  font-size: 1.3em !important;
  text-decoration: none;
  color: white;
  transition: 0.3s;
  letter-spacing: 1px;
}
.footer .footer-content .links ul a:hover{
  color: darkblue;
  transition: 0.3s;
  margin-left: 15px;

}
.footer .footer-bottom{
  background: #343a40;
  color: white;
  height: 50px;
  width: 100%;
  left: 0px;
  bottom: 0px;
  position: absolute;
  text-align: center;
  padding-top: 12px; 
}


@media screen and (min-width: 768px) and (max-width: 1199px){
  .navbar .navbar-brand, .navbar li a
  {
    font-size: 13px;
  }
  .navbar
   {
    letter-spacing: 0.5px;
  }
  .bg-image{
    height: auto;
  }
  .bg-text{
    width: auto;
  }
  h1{
    font-size: 28px !important;
    padding: 5px 12px 0px 12px;
  }
  .demo3{
  text-align: center;
}
.demo4{
  text-align: center;
}
img{
  width: 90%;
  height: 280px;
}
  .demo1{
    font-size: 30px;
}

.demo2{
  font-size: 22px;
}
p.card-text{
  font-size: 18px;
}
.temp
{
    font-size: 18px;
}
.button {
  padding: 8px;
  font-size: 20px;
  margin-top: 10px;
}
.temp3{
  height: auto;
  width: 90%;
  padding: 35px 35px 35px 35px;
}
.myclass3{
  padding-right: 5px; 
}
.myclass4{
  padding-left: 5px;
}
p.myclass1{
  font-size: 18px !important;
}
input[type=text], textarea {
  padding: 10px;
  margin-top: 4.5px;
  margin-bottom: 20px;
}
input[type=number] {
  padding: 10px;
  margin-top: 4.5px;
  margin-bottom: 20px;
}
input[type=email]{
  padding: 10px;
  margin-top: 4.5px;
  margin-bottom: 20px;
}

input[type=submit] {
  padding: 12px 16px;
  width: 40%;
  letter-spacing: 2px;
}
}



@media screen and (min-width: 480px) and (max-width: 767px){
.navbar .navbar-brand, .navbar li a
  {
    font-size: 16px;
  }
  .navbar
   {
    letter-spacing: 3px;
  }
  .bg-image{
    height: auto;
  }
  .bg-text{
    top: 25%;
    width: auto;
  }
  h1{
    font-size: 28px !important;
    padding: 5px 12px 0px 12px;
  }
  .demo4{
  padding-left: 20px;
}
img{
  width: 90%;
  height: 270px;
}
  .demo1{
    font-size: 26px;
}

.demo2{
  font-size: 20px;
}
p.card-text{
  font-size: 16px;
}
.temp
{
    font-size: 16px;
}
.button {
  padding: 8px;
  font-size: 18px;
  margin-top: 10px;
}
.temp3{
  height: auto;
  width: 90%;
  padding: 35px 35px 35px 35px;
}
.myclass3{
  padding-right: 5px; 
}
.myclass4{
  padding-left: 5px;
}
p.myclass1{
  font-size: 18px !important;
  text-align: center !important;
}
input[type=text], textarea {
  padding: 10px;
  margin-top: 4.5px;
  margin-bottom: 20px;
}
input[type=number] {
  padding: 10px;
  margin-top: 4.5px;
  margin-bottom: 20px;
}
input[type=email]{
  padding: 10px;
  margin-top: 4.5px;
  margin-bottom: 20px;
}

input[type=submit] {
  padding: 12px 16px;
  width: 40%;
  letter-spacing: 2px;
}
}


@media screen and (min-width: 298px) and (max-width: 479px){
.navbar .navbar-brand, .navbar li a{
    font-size: 13px;
  }
  .navbar {
    letter-spacing: 1px;
  }
  .bg-image{
    height: auto;
  }
  .bg-text{
    top: 18%;
    width: auto;
  }
  h1{
    font-size: 20px !important;
    padding: 0px 8px 0px 8px !important;
  }
  .demo3{
  width: 100%;
  float: none;
  padding: 0px;
  text-align: center;
  margin-bottom: 33px;
  padding: 10px;
}
.demo4{
  width: 100%;
  float: none;
  padding: 0px;
  text-align: center;
}
img{
  width: 80%;
  height: auto;
}
  .demo1{
    font-size: 26px;
}

.demo2{
  font-size: 20px;
}
p.card-text{
  font-size: 16px;
}
.temp
{
    font-size: 16px;
}
.button {
  padding: 8px;
  font-size: 18px;
  margin-top: 10px;
}
.temp3{
  margin-top: -22px;
  height: auto;
  width: 90%;
  padding: 35px 35px 35px 35px;
}
.myclass3{
  width: 100%;
  padding-right: 0px; 
}
.myclass4{
  width: 100%;
  padding-left: 0px;
}
p.myclass1{
  font-size: 16px;
}
input[type=text], textarea {
  width: 100%;
  padding: 10px;
  margin-top: 4.5px;
  margin-bottom: 20px;
}
input[type=number] {
  width: 100%;
  padding: 10px;
  margin-top: 4.5px;
  margin-bottom: 20px;
}
input[type=email]{
  width: 100%;
  padding: 10px;
  margin-top: 4.5px;
  margin-bottom: 20px;
}

input[type=submit] {
  padding: 12px 16px;
  width: 70%;
  letter-spacing: 2px;
}

}

@media screen and (max-width: 298px){
.navbar .navbar-brand, .navbar li a{
    font-size: 11.5px;
  }
  .navbar {
    letter-spacing: 0px;
  }
  .bg-image{
    height: auto;
  }
  .bg-text{
    top: 21.5%;
    width: auto;
  }
  h1{
    font-size: 21px !important;
    padding: 5px 8px 0px 8px !important;
  }
  .demo3{
  width: 100%;
  float: none;
  padding: 0px;
  text-align: center;
  margin-bottom: 33px;
  padding: 10px;
}
.demo4{
  width: 100%;
  float: none;
  padding: 0px;
  text-align: center;
}
img{
  width: 80%;
  height: auto;
}
  .demo1{
    font-size: 26px;
}

.demo2{
  font-size: 20px;
}
p.card-text{
  font-size: 16px;
}
.temp
{
    font-size: 16px;
}
.button {
  padding: 8px;
  font-size: 18px;
  margin-top: 10px;
}
.temp3{
  margin-top: -22px;
  height: auto;
  width: 90%;
  padding: 35px 35px 35px 35px;
}
.myclass3{
  width: 100%;
  padding-right: 0px; 
}
.myclass4{
  width: 100%;
  padding-left: 0px;
}
p.myclass1{
  font-size: 16px;
}
input[type=text], textarea {
  width: 100%;
  padding: 10px;
  margin-top: 4.5px;
  margin-bottom: 20px;
}
input[type=number] {
  width: 100%;
  padding: 10px;
  margin-top: 4.5px;
  margin-bottom: 20px;
}
input[type=email]{
  width: 100%;
  padding: 10px;
  margin-top: 4.5px;
  margin-bottom: 20px;
}

input[type=submit] {
  padding: 12px 16px;
  width: 70%;
  letter-spacing: 2px;
}

}



@media screen and (min-width: 1209px) and (max-width: 1500px){
  .footer .footer-content .about p{
    font-size: 14px;
  }
  .footer .footer-content .about .contact span{
    font-size: 14px;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1208px){
   .footer .footer-content .about p{
    font-size: 13.5px;
  }
  .footer .footer-content .about .contact span{
    font-size: 13.5px;
  }
}


@media screen and (min-width: 992px) and (max-width: 1200px){
  .footer{
  height: 410px;
}
.footer .footer-content .footer-section{
  padding: 5px 60px 0px 100px;
}
.footer .footer-content .about h1 span{
  font-size: 25px;
}
.footer .footer-content .about h1{
  font-size: 25px;
}
.footer .footer-content .about p{
  font-size: 14px;
  letter-spacing: 0.5px;
}
.footer .footer-content .about .contact span{
  font-size: 14px;
  margin-bottom: 5px;
  letter-spacing: 0.5px;
}
.footer .footer-content .about .socials i{
  font-size: 18px;
}
.footer .footer-content .about .socials a{
  width: 40px;
  height: 40px;
  padding: 5px 5px 0px 5px;
  margin-left: 4px;
  margin-top: 5px;
  margin-right: 7px;
  text-align: center;
  display: inline-block;
  font-size: 1.3em;
  border-radius: 5px;
  transition: 0.3s;
  text-decoration: none;
}
}

@media screen and (min-width: 768px) and (max-width: 991px){
  .footer{
  height: 420px;
}
.footer .footer-content .footer-section{
  padding: 5px 0px 0px 50px;
}
.footer .footer-content .about h1 span{
  font-size: 25px;
}
.footer .footer-content .about h1{
  font-size: 25px;
}
.footer .footer-content .about p{
  font-size: 14px;
  letter-spacing: 0.5px;
}
.footer .footer-content .about .contact span{
  font-size: 14px;
  margin-bottom: 5px;
  letter-spacing: 0.5px;
}
.footer .footer-content .about .socials i{
  font-size: 18px;
}
.footer .footer-content .about .socials a{
  width: 40px;
  height: 40px;
  padding: 5px 5px 0px 5px;
  margin-left: 4px;
  margin-top: 5px;
  margin-right: 7px;
  text-align: center;
  display: inline-block;
  font-size: 1.3em;
  border-radius: 5px;
  transition: 0.3s;
  text-decoration: none;
}
}

@media screen and (min-width: 670px) and (max-width: 767px){
  .footer{
  height: 400px;
}
.footer .footer-content .footer-section{
  padding: 5px 0px 0px 50px;
}
.footer .footer-content .about h1 span{
  font-size: 25px;
}
.footer .footer-content .about h1{
  font-size: 25px;
}
.footer .footer-content .about p{
  font-size: 13.5px;
  letter-spacing: 0.5px;
}
.footer .footer-content .about .contact span{
  font-size: 13.5px;
  margin-bottom: 3px;
  letter-spacing: 0.5px;
}
.footer .footer-content .about .socials i{
  display: none;
}
.footer .footer-content .about .socials a{
 display: none;
}
}

@media screen and (min-width: 532px) and (max-width: 669px){
  .footer{
  height: 420px;
}
.footer .footer-content .footer-section{
  padding: 5px 0px 0px 50px;
}
.footer .footer-content .about h1 span{
  font-size: 22px;
}
.footer .footer-content .about h1{
  font-size: 22px;
}
.footer .footer-content .about p{
  font-size: 13px;
  letter-spacing: 0px;
}
.footer .footer-content .about .contact span{
  font-size: 13px;
  margin-bottom: 4px;
  letter-spacing: 0px;
}
.footer .footer-content .about .socials i{
  font-size: 16px;
  display: none;
  border: none;
}
.footer .footer-content .about .socials a{
  border: none;
  display: none;
  width: 40px;
  height: 40px;
  padding: 5px 5px 0px 5px;
  margin-left: 4px;
  margin-top: 0px;
  margin-right: 7px;
  text-align: center;
  display: inline-block;
  font-size: 1.3em;
  border-radius: 5px;
  transition: 0.3s;
  text-decoration: none;
}
.footer .footer-bottom{
  height: 50px;
  padding-top: 12px; 
  font-size: 12.5px;
}
}

@media screen and (min-width: 480px) and (max-width: 531px){
  .footer{
  height: 180px;
}
.footer .footer-content{
  display: block;
  height: 130px;
}
.footer .footer-content .footer-section h2{
  font-size: 20px;
  padding-top: 11px;
  text-align: center;
  color: #05f7ff !important;
  margin-bottom: 0px;
}
.footer .footer-content .links ul a li{
  font-size: 15px; 
  letter-spacing: 1px;
}
.footer .footer-content .links ul.a{
  list-style-type: square;
  list-style-position: inside;
}
.myclass11{
  text-align: left;
  float: left;
  width: 50%;
  padding-left: 5%;
}
.myclass2{
  float: left;
  width: 50%;
  padding-left: 10%;
  padding-right: 0px;
}
.footer .footer-content .footer-section{
  padding: 0px 0px 0px 0px;
  margin: 0px;
}
.footer .footer-content .about h1 span{
  display: none;
}
.footer .footer-content .about h1{
  display: none;
}
.footer .footer-content .about p{
 display: none;
}
.footer .footer-content .about .contact span{
  display: none;
}
.footer .footer-content .about .socials i{
  display: none;
}
.footer .footer-content .about .socials a{
  display: none;
}
.footer .footer-bottom{
  height: 50px;
  padding-top: 12px; 
  font-size: 12px;
  margin-bottom: 0px;
}
}

@media screen and (max-width: 479px){
  .footer{
  height: 180px;
}
.footer .footer-content{
  display: block;
  height: 130px;
}
.footer .footer-content .footer-section h2{
  font-size: 20px;
  padding-top: 11px;
  text-align: center;
  color: #05f7ff !important;
  margin-bottom: 0px;
}
.footer .footer-content .links ul a li{
  font-size: 13.5px; 
  letter-spacing: 1px;
}
.footer .footer-content .links ul.a{
  list-style-type: square;
  list-style-position: inside;
}
.myclass11{
  text-align: left;
  float: left;
  width: 50%;
  padding-left: 0px;
}
.myclass2{
  float: left;
  width: 50%;
  padding-left: 0px;
  padding-right: 0px;
}
.footer .footer-content .footer-section{
  padding: 0px 0px 0px 0px;
  margin: 0px;
}
.footer .footer-content .about h1 span{
  display: none;
}
.footer .footer-content .about h1{
  display: none;
}
.footer .footer-content .about p{
 display: none;
}
.footer .footer-content .about .contact span{
  display: none;
}
.footer .footer-content .about .socials i{
  display: none;
}
.footer .footer-content .about .socials a{
  display: none;
}
.footer .footer-bottom{
  height: 50px;
  padding-top: 12px; 
  font-size: 12px;
  margin-bottom: 0px;
}
}